<p id="notice"><%= notice %></p>

<h2>Show</h2>
  <%= image_tag @user.avatar.url(:medium) %>

<div class="show actions">
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'Remove', @user, confirm: 'Are you sure you want to lose a user?', method: :delete, class: 'destroy' %>
  <%= link_to 'Back to all my users', users_path %>
</div>

