<%
   pair_monks = MonkCertificate::Application.config.pair_monks
%>
<div class="wrapper">
    <%= form_for(@monk,:html => { :multipart => true, :class => "pure-form pure-form-aligned" }  ) do |f| %>
      <% if @monk.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@monk.errors.count, "error") %> prohibited this monk from being saved:</h2>

          <ul>
          <% @monk.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <fieldset class="has-border">
          <div class="pure-control-group">
            <%= f.label t(:cert_no) %>
            <%= f.number_field :cert_no, :placeholder => "11" %>
            <span> / 2557</span>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:firstname) %>
            <%= f.text_field :firstname, :placeholder => "สมชาย" %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:surname) %>
            <%= f.text_field :surname, :placeholder => "ใจดี" %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:monkname) %>
            <%= f.text_field :monkname, :placeholder => "สุวิชาโน", :class=>"bali bold" %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:birthdate) %>
            <%= f.date_select :birthdate, { :start_year => Time.now.year - 70 + 543, :end_year => Time.now.year - 20 + 543 } %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:height) %>
            <%= f.text_field :height, :class => "number", :placeholder => "183" %>
            <span> ซม.</span>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:skin) %>
            <%= f.text_field :skin, :placeholder => "ขาว" %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:id_no) %>
            <%= f.text_field :id_no, :placeholder => "1 2423 2323 22 1" %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:ordained_date) %>
            <%= f.date_select :ordained_date, { :start_year => Time.now.year - 1 + 543, :end_year => Time.now.year+ 543, default: Time.now  + 543.year} %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:ordained_time) %>
            <%= f.time_select :ordained_time %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:ordainer) %>
            <%= f.text_field :ordainer, :value=> "พระธรรมบัณฑิต"%>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:pair_monk_1) %>
            <%= f.select :pair_monk_1, options_for_select( pair_monks ) %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:pair_monk_2) %>
            <%= f.select :pair_monk_2, options_for_select( pair_monks ) %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:approval_name) %>
            <%= f.text_field :approval_name, :value=> "พระธรรมบัณฑิต" %>
          </div>
          <div class="pure-control-group">
            <%= f.label t(:approval_position) %>
            <%= f.text_field :approval_position, :class => "bigger", :value=> "เจ้าอาวาสวัดพระราม ๙ กาญจนาภิเษก" %>
          </div>

    </fieldset>
    <fieldset>
      <div class="pure-control-group">
          <% if !@monk.pic.url.include?("missing") %>
                <div class="center">
                    <img src="<%= @monk.pic.url(:thumb) %>"/>
                </div>
            <% end %>
            <%= f.label 'รูป ( ขนาด 495x600  )'%>
            <%= f.file_field :pic %>
      </div>

      <div class="actions">
          <%= f.submit :class =>"pure-button pure-button-primary" ,:value=>"เสร็จสิ้น" %>
      </div>
    </fieldset>
    <% end %>
</div
