<p id="notice"><%= notice %></p>

<%= image_tag @monk.pic.url %>

<p>
  <strong>Cert no:</strong>
  <%= @monk.cert_no %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @monk.firstname %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @monk.surname %>
</p>

<p>
  <strong>Monkname:</strong>
  <%= @monk.monkname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @monk.birthdate %>
</p>

<p>
  <strong>Height:</strong>
  <%= @monk.height %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @monk.skin %>
</p>

<p>
  <strong>ID No:</strong>
  <%= @monk.id_no %>
</p>

<p>
  <strong>Ordained time:</strong>
  <%= @monk.ordained_time %>
</p>

<p>
  <strong>Ordainer:</strong>
  <%= @monk.ordainer %>
</p>

<p>
  <strong>Pair monk 1:</strong>
  <%= @monk.pair_monk_1 %>
</p>

<p>
  <strong>Pair monk 2:</strong>
  <%= @monk.pair_monk_2 %>
</p>

<p>
  <strong>Approval name:</strong>
  <%= @monk.approval_name %>
</p>

<p>
  <strong>Approval position:</strong>
  <%= @monk.approval_position %>
</p>

<%= link_to 'Edit', edit_monk_path(@monk) %> |
<%= link_to 'Back', monks_path %>
