<html>
<head>
  <title>Monk Certificate</title>
  <meta charset="UTF-8">

  <%= wicked_pdf_stylesheet_link_tag "certificate" -%>

</head>
<body>
    <div class="wrapper">
        <div class="doc-no">
            เลขที่ <%= @info[:cert_no] %>/<%= l DateTime.now, format: :year%>
        </div>
        <div class="center">
            <img class="logo" src="http://i.i.cbsi.com/cnwk.1d/i/tim/2011/03/08/product_logo_256.png">
        </div>
        <div class="address">
            วัดพระราม ๙ กาญจนาภิเษก<br>
            ๙๙๙ ซอย ๑๙ ถ.พระราม ๙ ห้วยขวาง<br>
            กทม. ๑๐๓๑๐ โทร.๐๒-๓๑๘-๕๙๒๙-๗<br>
            แฟกซ์ ๐๒-๓๑๙-๑๑๒๓
        </div>
    <div class="clearfix"></div>
    </div>

    <div class="center">
        <b>
            หนังสือรับรอง <br>
            การอุปสมบทในพระพุทธศาสนา
        </b>
        <div>
            ด้วยหนังสือฉบับนี้ ขอรับรองว่า
        </div>

        <div class="name">พระ<%= @info[:firstname] %> <%= @info[:monkname] %>(<%= @info[:surname] %>)</div>
        <div class="basic-info">เกิด<%= l Date.parse(@info[:birthdate]), format: :default %> อายุ <%= l Date.parse(@info[:birthdate]), format: :age %> ปี สูง <%= @info[:height] %> ซม.</div>
        <div class="basic-info">สีผิว<%= @info[:skin] %> เลขประจำตัวประชาชน <%= @info[:id_no] %></div>

        <div class="ordain-info">
            ได้บรรพชา อุปสมบท เป็นพระภิกษุในพระพุทธศาสนา<br>
            ณ พัทธสีมาวัดพระราม ๙ กาญจนาภิเษก แขวงบางกะปิ เขตห้วยขวาง กรุงเทพมหานคร<br>
            เมื่อ<%= l DateTime.strptime(@info[:ordianed_datetime],'%Y-%m-%d %H:%M'), format: :default %> โดยมี
        </div>

        <table class="grand-monk">
            <tr>
                <td><%= @info[:lord_monk] %></td>
                <td>เป็นพระอุปัชณาย์</td>
            </tr>
            <tr>
                <td><%= @info[:pair_monk_1] %></td>
                <td>เป็นพระอนุสาวนาจารย์</td>
            </tr>
            <tr>
                <td><%= @info[:pair_monk_2] %></td>
                <td>เป็นพระอนุสาวนาจารย์</td>
            </tr>
        </table>

        <div>
            สังกัดวัดพระราม ๙ กาญจนาภิเษก บางกะปิ ห้วยขวาง กรุงเทพมหานคร<br>
            ขอให้มีความเจริญรุ่งเรืองในธรรมเป็นนิจเทอญ
        </div>

        <div class="issue-date">
            ให้ไว้ ณ <%= l Time.now, format: :short %>
        </div>

        <div class="approve-person">
            <div class="signature"></div>
            <div class="info">
                (<%= @info[:approval_name] %>)<br>
                <%= @info[:approval_position] %>
            </div>
    </div>
</body>
</html>

